<h2>Saloon Lists</h2>

<div class="row">
  <%@saloons.each do |sal|%>
    <div class="col-sm-4">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title"><%= sal.company_name%></h5>
          <p class="card-text"><%= sal.address%></p>
          <a href="/saloon/<%=sal.id%>" class="btn btn-primary">View Saloon</a>
        </div>
      </div>
    </div>
  <%end%>
</div>
